<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="library/css/afe.css"
</head>
<body>
	<div class="div-container">
        <div class="top-div"><h2>Interns</h2>
            <div class="block">
                <div class="division">
                    <p>Total registered Interns</p>
                </div>
                <div class="division">
                    <div class="circle">
                        <p>256</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="division">
                    <p>Trained Interns</p>
                </div>
                <div class="division">
                    <div class="circle">
                        <p>2,048</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="division">
                    <p>Available Interns</p>
                </div>
                <div class="division">
                    <div class="circle">
                        <p>186</p>
                    </div>
                </div>
            </div>
        </div><br>
		<br><div style="width:100%;height:40px;display:block;"></div>
         <div class="top-div"><h2>Interns with Skills</h2>
            <div class="block">
                <div class="division">
                    <p>Java</p>
                </div>
                <div class="division">
                    <div class="circle">
                        <p>186</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="division">
                    <p>MEAN Stack</p>
                </div>
                <div class="division">
                    <div class="circle">
                        <p>186</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="division">
                    <p>Web Development</p>
                </div>
                <div class="division">
                    <div class="circle">
                        <p>186</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="division">
                    <p>C</p>
                </div>
                <div class="division">
                    <div class="circle">
                        <p>186</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="division">
                    <p>C#</p>
                </div>
                <div class="division">
                    <div class="circle">
                        <p>186</p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="division">
                    <p>Python</p>
                </div>
                <div class="division">
                    <div class="circle">
                        <p>186</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>