<html>
    <head>
        <title>Description</title>
      
        <link rel="stylesheet" href="library/css/employeeCVdisplay.css">
    </head>
    <body>
        <div class="container-fluid">
            <br>
            <div class="row Box container-fluid">
                <div class="row headTitle container-fluid">
                    <h2>Bluetooth Android Chat</h2>
                </div>
                <div class="row container-fluid">
                    <h2 class="title">Pre-requsites</h2>
                    <p>C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS, JavaScript</p>
                </div>
                <div class="row container-fluid">
                    <h2 class="title">Description</h2>
                    <p>HTC brings brilliance to life through leading innovation in smart mobile device and experience design. Beginning with a vision to put a personal computer in the palm of our customers' hands, we have led the way in the evolution from palm PC to smartphone.</p>

                    <p>The Pursuit of Brilliance is at the heart of everything we do, inspiring best-in-class design and game-changing mobile experiences for consumers around the world. At HTC, the Pursuit of Brilliance is the impulse to create, to venture into the unknown with an unwavering dedication to bring innovative design to life. It pushes us everyday to re-imagine new ways to connect the world, our consumers, and their pursuits in ways never before thought possible.</p>
                </div>
            </div>
            <br>
        </div>
    </body>
</html>