<html>
    <head>
        <!-- Local links --> 
        <link rel="stylesheet" href="library/css/employeeCVdisplay.css">
       
    </head>
    <body>
        <div class="container-fluid">
            <div class="row title container-fluid" style="padding-left:2%;">
                <h1>Feasibility of an Idea!</h1>
            </div>
            <br>
            <div class="row Box container-fluid">
                <h3>1. What is my customer profile?</h3>
                <p>Maybe your product or service idea seems like just the right solution for you, but can you identify a clear customer base beyond yourself? Ask what your customer's biggest pains are and how your product might help resolve them?</p>
            </div>
            <br>
            <div class="row Box container-fluid">
                <h3>2. What am I replacing?</h3>
                <p>Whatever your idea is, someone out there is buying something else in its place. Ask yourself what makes your product compelling enough to replace what's already in the marketplace. This doesn't necessarily have to be limited to products that have a similar purpose as yours.</p>
                <p>Consider how you could get them to buy your product instead of something else they currently purchase.</p>
            </div>
            <br>
            <div class="row Box container-fluid">
                <h3>3. How do I demonstrate this idea to others?</h3>
                <p>Make your idea as tangible as possible. </p>
                <p>That might mean developing drawings or a working prototype. By figuring out how you can easily represent your idea to others, you'll start to see how much strong it is.</p>
            </div>
            <br>
            <div class="row Box container-fluid">
                <h3>4. Who will I need on my team?</h3>
                <p>In the early stages, you'll need to figure out whom you can turn to for honest and informed advice about your ideas. And soon, you'll also need to think about whose brainpower you want on your side—whether in product development, marketing, IT or another function. Find a way to approach such people to gauge their interest in getting involved.</p>
            </div>
            <br>
            <div class="row Box container-fluid">
                <h3>5. What resources do I need?</h3>
                <p>How can you actually make this idea happen? That requires asking what resources you'll need.</p>
                <p> Make a list of all the key assets and figure out whether you can obtain them before you invest a lot of time and money in testing and product development.</p>
            </div>
            <br>
            <div class="row Box container-fluid">
                <h3>6. How long will my purchasing cycle be? </h3>
                <p>You want to know the purchase cycle for your product or service so you can estimate your upfront cash needs. With a longer purchasing cycle, you'll need more money on the front end before you start bringing in revenue.</p>
            </div>
            <br>
            <div class="row Box container-fluid">
                <h3>7. What's a reasonable sales forecast? </h3>
                <p>You want to analyze the actual operation of the business as much as possible to come up with a solid sales forecast.</p>
            </div>
            <br>
            <div class="row Box container-fluid">
                <h3>8. How much growth potential does my idea offer? </h3>
                <p>Think about how big you want your business to be and figure out if your idea can meet your expectations.</p>
            </div>
            <br>
            <div class="row Box container-fluid">
                <h3>9. Do I possess the necessary skills?</h3>
                <p>Having an idea and making it happen are two very different things. Be honest in assessing whether you're qualified to turn your idea into a business. </p>
                <p>If an idea requires highly technical skills or business experience that you lack, will you be able to find someone who can fill those gaps?</p>
            </div>
            <br>
            <div class="row Box container-fluid">
                <h3>10. Can I see myself doing this for the next two years?</h3>
                <p>Coming up with an idea can be exciting, but are you willing to dedicate your life to it for at least the next two years?</p>
                <p>You have to look at opportunity cost and realize any new opportunity is going to take a tremendous amount of time and energy.</p>
            </div>
            <br>
        </div>
    </body>
</html>