<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="feedbackStyle.css">
    <link rel="stylesheet" href="library/css/signUp.css">
    <script src = "feedbackScript.js"></script>
</head>
<body>

<div class="feed container-fluid">
    <form class="form-group">
        <h3>Feedback</h3>




        <div class="container-fluid box">
            <div class="row">
                <div class="col-md-12">
                    <h4>
                        Quality
                    </h4>
                </div>

                <div class="col-md-3">
                    <input type="radio" name="r1">&nbsp Very Good
                </div>

                    <div class="col-md-3">
                        <input type="radio" name="r1">&nbsp Good
                    </div>

                        <div class="col-md-3">
                            <input type="radio" name="r1">&nbsp Average
                        </div>

                        <div class="col-md-3">
                            <input type="radio" name="r1">&nbsp Below Average
                        </div>
                </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>
                        Punctuality
                    </h4>
                </div>

                <div class="col-md-3">
                    <input type="radio" name="r2">&nbsp Very Good
                </div>

                <div class="col-md-3">
                    <input type="radio" name="r2">&nbsp Good
                </div>

                <div class="col-md-3">
                    <input type="radio" name="r2">&nbsp Average
                </div>

                <div class="col-md-3">
                    <input type="radio" name="r2">&nbsp Below Average
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>
                        Interaction
                    </h4>
                </div>

                <div class="col-md-3">
                    <input type="radio" name="r3">&nbsp Very Good
                </div>

                <div class="col-md-3">
                    <input type="radio" name="r3">&nbsp Good
                </div>

                <div class="col-md-3">
                    <input type="radio" name="r3">&nbsp Average
                </div>

                <div class="col-md-3">
                    <input type="radio" name="r3">&nbsp Below Average
                </div>
            </div>
            <br>
        </div>

        <label for="text"><h4>Personel Comments</h4></label><br>
        <textarea placeholder="Type your review here !!" id="text" name="txt" class="form-control" rows="5" style="resize: none;"></textarea><br>
        <div class="col-mi-3 sub">
            <button class="btn btn-success" style="width: 30%;margin-left: 35%;margin-top: -1%">Submit</button>
        </div>


    </form>
</div>

</body>
</html>