<html>
    <head>
<!-- Local Script -->
        <link rel="stylesheet" href="library/css/employeeCVdisplay.css">
        <link rel="stylesheet" href="library/css/signUp.css">
    </head>
    <body>
        <div id="yourResponse">
            <div class="container-fluid">
                <br>
                <div class="row Box container-fluid">
                    <div class="row container-fluid headTitle">
                        <h2>Your response</h2>
                    </div>
                    <br>
                    <div class="row container-fluid">
                        <form class="form-group">
                            <textarea class="form-control" rows="5" style="resize:none"></textarea><br>
                            <center><button class="btn btn-success">Submit</button></center>
                        </form>                    
                    </div>
                </div>
            </div>
        </div>        
    </body>
</html>