<!-- <html>
    <head>
        <title>Hire Employee</title>
        <link rel="stylesheet" href="library/css/employeeCVdisplay.css">
    </head>
    <body>
        <div class="container-fluid">
            <br>
            <div class="row Box container-fluid">
                <div class="col-md-2" style="padding:2%;">
                    <img class="miniProfilePic">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-9">
                            <h2>John Smith</h2>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success btn-block" style="margin-top:15%; font-size:18px;">Hire now</button>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <h3 class="title">Skills</h3>
                            <p>C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS, JavaScript</p>
                        </div>                                                
                    </div>
                </div>
            </div>
            <br>
        </div>
    </body>
</html> -->
<html>
    <head>
        <title>Hire Employee</title>
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="library/css/employeeCVdisplay.css">
        <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
        <style type="text/css">
        
        .arrow{
           
            position: relative;
            left: 70%; 
            top: 6%;
            z-index:3;
            height:300 ;
            width:400;
        }
        .text{
            float:left;
            position: relative;
            margin-left: 38%; 
            top: -20%;
            font-family: 'Caveat', cursive;
            height:300 ;
            width:400;

            z-index:2;
        }
     
        </style>
    </head>
    <body>
    <div class="arrow">
    <img src="library/img/arrow.png" height="300" width="400">
    </div>
<div class="text">
<h1 style="font-size:50px;">Search for your required Intern here.</h1>
</div>





    </body>
</html>