<html>
    <head>
        <title>Finincial Assistance</title>
        <link rel="stylesheet" href="library/css/signUp.css">

        <link rel="stylesheet" href="library/css/employeeCVdisplay.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row title" style="padding-left:2%;">
                <h1>Marketing Assistance</h1>
            </div>
            <br>
            <form class="form-group" action="/mar-save" method="post">

                <div class="row Box container-fluid">
                    <label for="ques1">Who are your target customers?</label><textarea id="ques1" required name="ques1" class="form-control" rows="5" style="resize:none;"></textarea>
                </div>
                <br>
                <div class="row Box container-fluid">
                    <label for="ques2">Have you trialled your product/service with any potential customers?</label><textarea id="ques2" name="ques2" class="form-control" rows="5" required style="resize:none;"></textarea>
                </div>
                <br>
                <div class="row Box container-fluid">
                    <label for="ques3">How will you sell to these customers?</label><textarea id="ques3" name="ques3" class="form-control" rows="5" required style="resize:none;"></textarea>
                </div>
                <br>
                <div class="row Box container-fluid">
                    <label for="ques4">Do you currently have any paying customers?</label><textarea id="ques4" name="ques4" class="form-control" rows="5" required style="resize:none;"></textarea>
                </div>
                <br>
                <div class="row Box container-fluid">
                    <label for="ques5">From your market research, what makes you think it is a good market for you to enter? </label><textarea id="ques5" required name="ques5" class="form-control" rows="5" style="resize:none;"></textarea>
                </div>
                <br>
                <div class="row Box container-fluid">
                    <label for="ques6">What export markets are you targeting?</label><textarea id="ques6" name="ques6" class="form-control" rows="5" required style="resize:none;"></textarea>
                </div>
                <br>
                <div class="row Box container-fluid">
                    <label for="ques7">Who are your main competitors? </label><textarea id="ques7" name="ques7" class="form-control" rows="5" required style="resize:none;"></textarea>
                </div>
                <br>
                <div class="row Box container-fluid">
                    <label for="ques8">What is unique/different about what you are doing?</label><textarea id="ques8" name="ques8" class="form-control" rows="5" required style="resize:none;"></textarea>
                </div>
                <br>
                <div class="row Box container-fluid">
                    <label for="ques9">Why would your project be hard for someone else to duplicate? </label><textarea id="ques9" name="ques9" class="form-control" required rows="5" style="resize:none;"></textarea>
                </div>
                <br>
                <div class="row Box container-fluid">
                    <label for="ques10">Do you have intellectual property* in your business? Please expand.</label><textarea id="ques10" name="ques10" class="form-control" rows="5" style="resize:none;" required placeholder="*Registered IP in the form of patents, industrial designs, trademarks, short term patent/utility model etc."></textarea>
                </div>
                <br>
                <!-- Alert message -->
                <div class="alert alert-info">
                Kindly check the information before <strong>Submitting</strong>.
                </div>
                <br>
                <button class="btn btn-success" style="width:60%; margin-left:20%">Submit</button>
            </form>
        </div>
    </body>
</html>
