
<html>
<head>
   
<link rel="stylesheet" href="library/css/search.css">
<link rel="stylesheet" href="library/css/employeeCVdisplay.css">
    
    
</head>
<body ng-app="">
<div class="container-fluid">
	
	<br>
	<% for(i=0;i<data.length;i++) { %>
    <div class="row Box container-fluid">
        <div class="row headTitle container-fluid">            
            <div class="col-md-8">
                <h2><%= data[i].typeofjob %></h2>    
            </div>
            <div class="col-md-2">            
                <div class='btn-group' style='margin-top:5%;'>
                    <button class='btn ' ng-click='query1=1'><i class='fa fa-chevron-down' aria-hidden='true'></i></button>
                    <button class='btn ' ng-click='query1=0'><i class='fa fa-chevron-up' aria-hidden='true'></i></button>
                </div>
                <button class="btn fontSize" style='margin-top:5%;'><i class="fa fa-trash-o greenTitle" aria-hidden="true"></i></button>
            </div>
            
            
        </div>
        <div id="Body" ng-show="query1">
        <div class="row container-fluid">
            <h2 class="title">Pre-requsites</h2>
			<% for(j=0;j<data[i].skillsrequired.length;j++) { %>
            <p><%= data[i].skillsrequired[j].name %></p>
			<% } %>
		</div>
        <div class="row container-fluid">
            <h2 class="title">Description</h2>
            <p><%= data[i].describejob %></p>
			</div>
        </div>
    </div>
	<% } %>
    </div>
</body>
</html>