<html>
    <head>
        <title>Search Result</title>
        <link rel="stylesheet" href="library/css/employeeCVdisplay.css">
        <link rel="stylesheet" href="library/css/search.css">
       
        <!-- Scripts -->
		
        
        <style>
            .modal-dialog{
                width: 60%;
                margin-left: 20%;
                margin-top: 10%;
                padding: auto;
            }
        </style>
        
    </head>
    <body>
        <div class="container-fluid">
            <div class="tab">
                <a href="#project" style="width:32%; border-right:1px solid gray;">Projects</a>
                <a href="#people" style="width:32%; border-right:1px solid gray;">People</a>
                <a href="#query" style="width:32%;">Queries</a>
            </div>
            <br>
            <div id="people">            
                <div class="row Box container-fluid" style="margin-left:1%;">
                    <div class="col-md-2" style="padding:2%;">
                        <img class="miniProfilePic">
                    </div>
                    <div class="col-md-10">
                        <div class="row headTitle">
                            <div class="col-md-9">
                                <h2>John Smith</h2>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-info btn-block" data-toggle="modal" data-target="#yourResponseModal" style="margin-top:5%; font-size:18px;">Hire now</button>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="title">Skills</h3>
                                <p>C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS, JavaScript</p>
                            </div>                                                
                        </div>
                    </div>
                </div>
                <br>
                <div class="row Box container-fluid" style="margin-left:1%;">
                    <div class="col-md-2" style="padding:2%;">
                        <img class="miniProfilePic">
                    </div>
                    <div class="col-md-10">
                        <div class="row headTitle">
                            <div class="col-md-9">
                                <h2>John Smith</h2>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-info btn-block" data-toggle="modal" data-target="#yourResponseModal" style="margin-top:5%; font-size:18px;">Hire now</button>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="title">Skills</h3>
                                <p>C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS, JavaScript</p>
                            </div>                                                
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div id="project">
                <div class="row Box container-fluid" style="margin-left:1%;">                    
                        <div class="row headTitle">
                            <div class="col-md-9">
                                <h2>Bluetooth Android Application</h2>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-info btn-block" data-toggle="modal" data-target="#yourResponseModal" style="margin-top:5%; font-size:18px;">Apply now</button>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="title">Pre-requsites</h3>
                                <p>C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS, JavaScript</p>
                            </div>                                                
                    </div>                    
                </div>
                <br>
                <div class="row Box container-fluid" style="margin-left:1%;">
                    <div class="row headTitle">
                        <div class="col-md-9">
                            <h2>College erp</h2>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-info btn-block" data-toggle="modal" data-target="#yourResponseModal" style="margin-top:5%; font-size:18px; ">Apply now</button>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <h3 class="title">Pre-requsites</h3>
                            <p>C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS,    JavaScript</p>
                        </div>                                                
                    </div>
                </div>
                <br>
            </div>
              <!-- Modal -->
  <div class="modal fade" id="yourResponseModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" style="margin-left:3%;">
                      <div id="yourResponse" >
            <div class="container-fluid">
                <br>
                <div class="row container-fluid">
                    <div class="row container-fluid ModalTitle">
                        <h2>Your response</h2>
                    </div>
                    <br>
                    <div class="row container-fluid">
                        <form class="form-group">
                            <textarea class="form-control" rows="5" style="resize:vertical;"></textarea><br>
                            <center><button class="btn btn-success">Submit</button></center>
                        </form>                    
                    </div>
                </div>
            </div>
        </div>
        </div>        
      </div>
      
    </div>
  </div>
  

            <div id="query">
                <div class="row Box container-fluid" style="margin-left:1%;">
                    <div class="col-md-12">
                        <div class="row headTitle">
                            <h2>Bluetooth Android Application</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="title">Pre-requsites</h3>
                                <p>C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS, JavaScript, C, C++, Java, HTML5, CSS, JavaScript</p>
                            </div>                                                
                        </div>
                    </div>
                </div>
                <br>
            </div>
            
        </div>
    </body>
</html>