<!DOCTYPE html>
<head>
<link rel="stylesheet" href="library/css/viewProject.css"/>
</head>
<body>
<div style="background:#fff">
	<div class="container">
        <div class="container-border"><a href="#">Project name goes here</a></div>
		<div class="wrap-p"><p>project description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes here</p></div>
		<p><strong>Time Duration goes here :</strong> 0 weeks 0 days</p>
		<p><strong>Skills required goes here :</strong> C, C++, HTML</p>
	</div>
    <div class="container">
        <div class="container-border"><a href="#">Project name goes here</a></div>
		<div class="wrap-p"><p>project description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes here</p></div>
		<p><strong>Time Duration goes here :</strong> 0 weeks 0 days</p>
		<p><strong>Skills required goes here :</strong> C, C++, HTML</p>
	</div>
	<div class="container">
        <div class="container-border"><a href="#">Project name goes here</a></div>
		<div class="wrap-p"><p>project description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes here</p></div>
		<p><strong>Time Duration goes here :</strong> 0 weeks 0 days</p>
		<p><strong>Skills required goes here :</strong> C, C++, HTML</p>
	</div>
    <div class="container">
        <div id="container-border"><a href="#">Project name goes here</a></div>
		<div class="wrap-p"><p>project description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes here</p></div>
		<p><strong>Time Duration goes here :</strong> 0 weeks 0 days</p>
		<p><strong>Skills required goes here :</strong> C, C++, HTML</p>
	</div>
    <div class="container">
        <div id="container-border"><a href="#">Project name goes here</a></div>
		<div class="wrap-p"><p>project description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes hereproject description goes here</p></div>
		<p><strong>Time Duration goes here :</strong> 0 weeks 0 days</p>
		<p><strong>Skills required goes here :</strong> C, C++, HTML</p>
	</div>
</div>
</body>
</html>