<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>page 1</title>

    <link rel="stylesheet" href="library/css/flexbox.css">

</head>
<body class="container-fluid">

<div class="flex-container">
    <div class="flex-item"><h2>flex item 1</h2><div id="background-img"></div>
        <div class="flex-item-inside"><h4>Flex item inside 1</h4>
			<div style="float:left;"><p style="margin:2px;">decribe here</p></div>
			<div><button type="button" name="apply" class="button">Apply now</button></div>
		</div>
    </div>
    <div class="flex-item"><h2>flex item 1</h2><div id="background-img"></div>
        <div class="flex-item-inside"><h4>Flex item inside 1</h4>
			<div style="float:left;"><p style="margin:2px;">decribe here</p></div>
			<div><button type="button" name="apply" class="button">Apply now</button></div>
		</div>
    </div>
	<div class="flex-item"><h2>flex item 1</h2><div id="background-img"></div>
        <div class="flex-item-inside"><h4>Flex item inside 1</h4>
			<div style="float:left;"><p style="margin:2px;">decribe here</p></div>
			<div><button type="button" name="apply" class="button">Apply now</button></div>
		</div>
    </div>
	<div class="flex-item"><h2>flex item 1</h2><div id="background-img"></div>
        <div class="flex-item-inside"><h4>Flex item inside 1</h4>
			<div style="float:left;"><p style="margin:2px;">decribe here</p></div>
			<div><button type="button" name="apply" class="button">Apply now</button></div>
		</div>
    </div>
	<div class="flex-item"><h2>flex item 1</h2><div id="background-img"></div>
        <div class="flex-item-inside"><h4>Flex item inside 1</h4>
			<div style="float:left;"><p style="margin:2px;">decribe here</p></div>
			<div><button type="button" name="apply" class="button">Apply now</button></div>
		</div>
    </div>
	<div class="flex-item"><h2>flex item 1</h2><div id="background-img"></div>
        <div class="flex-item-inside"><h4>Flex item inside 1</h4>
			<div style="float:left;"><p style="margin:2px;">decribe here</p></div>
			<div><button type="button" name="apply" class="button">Apply now</button></div>
		</div>
    </div>
    <div class="flex-item"><h2>flex item 1</h2><div id="background-img"></div>
        <div class="flex-item-inside"><h4>Flex item inside 1</h4>
			<div style="float:left;"><p style="margin:2px;">decribe here</p></div>
			<div><button type="button" name="apply" class="button">Apply now</button></div>
		</div>
    </div>
    <div class="flex-item"><h2>flex item 1</h2><div id="background-img"></div>
        <div class="flex-item-inside"><h4>Flex item inside 1</h4>
			<div style="float:left;"><p style="margin:2px;">decribe here</p></div>
			<div><button type="button" name="apply" class="button">Apply now</button></div>
		</div>
    </div>
</div>

</body>
</html>