@import url(https://fonts.googleapis.com/css?family=Nunito);
body{
    font-family: Nunito, Arail;
}
html{
	height:100%;
	width:100%;
}

body{
	margin:0 auto;
	padding:0;
	height:100%;
	width:100%;
}

.back-container{
	width:100%;
	height:100%;
	margin:0;
	overflow-x:hidden;
	overflow-y:auto;
}

.contained-items{
	width:100%;
	height:280px;

	float:left;
}

.flex-box-container{
    height: 100%;
	width:100%;
	overflow-x:scroll;
	overflow-y:hidden;	
}

.scroll{
	width:2500px;
	height:100%;
	overflow:auto;
}

.flex-box{
    justify-content: center;
    width: 300px;
	margin:0px 10px;
	float:left;

}


.flex-box-item{
    background-color:  #fff;
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.19);
    width: 100%;
    height: 230px;
    border-radius: 5px;
	overflow:hidden;
}

.flex-box-content{
	background: #088A68; 
    width: 100%;
    height: 53%;
	color:white;
	opacity:0.9;
    display: block;
    position: relative;
	top:2%;
	padding:10px;

}

.flex-box-item h2{
    margin:0 auto;	
	text-align:center;
	color:white;
	opacity:0.9;
	text-transform: uppercase;
}

#flex-img{
	background: url("firefox.png") no-repeat;
	background-size:cover;
	height:25%;
	width:20%;
	margin:0 auto;
	padding:0 auto;
}
/*Scroll Bar design begins*/
::-webkit-scrollbar {
    width: 12px;
    
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FAFAFA; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #FAFAFA; 
}
/*Scroll bar design ends*/
