@import url(https://fonts.googleapis.com/css?family=Nunito);
body{
    font-family: Nunito, Arail;
}
.notification-pannel{
	margin-top:3.3%;
    position: fixed;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    left: 100%;
    background-color: rgba(192,192,192,0.9);
    border-left: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 150;
}
.notification-item{
    background-color: #eee;
    width: 100%;
    padding:5px;
    z-index: 165;
    font-size:17px;
    color: white;
    border-top: 0.5px solid gray;
    color: black;
}

.notification-item-btn{
    background-color: #eee;
    width: 100%;
    padding:5px;
    z-index: 165;
    font-size:17px;
    color: white;
    border-top: 0.5px solid gray;
    color: black;
}
.notification-item-btn a{
    text-decoration: none;
    border-radius: 3px;
    padding: 1px 4px;
    margin:0 5px;
}

.notification-button{
    position: fixed;
    left:90%;
    top:1.5%;
    font-size: 22px;
	color:#adadad;
}
.notification-button:hover{
    cursor: pointer;
}