@import url(https://fonts.googleapis.com/css?family=Nunito);
body{
    font-family: Nunito, Arail;
}
.pass{
    height: 60%;
    width: 30%;
    position: relative;
    top:20%;
    left: 0%;
    background-color: #f2f3f4;
    box-shadow: 0px 0px 10px 2px #c0c0c0;
    border-radius: 2%;
    overflow: auto;
    display: none;
}
.pass-box{
    border-top:1px solid #c0c0c0 ;
    border-bottom:1px solid #c0c0c0 ;
}
.back-password{

    position: absolute;
    background-color: transparent;
    height: 101%;
    width: 100%;
    margin-top:-2%;
    z-index: 1000;
    overflow: hidden;
    display: none;

}