@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url(https://fonts.googleapis.com/css?family=Nunito);
body{
    font-family: Nunito, Arail;
}
.profile-pic-size{
    width: 70%;
    height: 30%;    
    border: 5px solid #088A68;
}
body{
    font-family:'Source Sans Pro', sans-serif;
}
p{
    font-size:20px;
}
.headSize{
    font-size: 25px;
    font-weight:500;
    font-style: italic;
    text-decoration: underline;
}
.nameSize{
    font-size: 60px;
    font-weight: 500;
}
