<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="library/css/employeeCVdisplay.css">
    </head>
    <body>
        <div class="container-fluid">
            <button class="btn" data-toggle="modal" data-target="#signUpSuccessful">SignUpSuccessful</button>
            <button class="btn" data-toggle="modal" data-target="#emailPasswordWrong">emailPasswordWrong</button>
            <button class="btn" data-toggle="modal" data-target="#projectPosted">projectPosted</button>
            <button class="btn" data-toggle="modal" data-target="#userExist">userExist</button>
            <button class="btn" data-toggle="modal" data-target="#changesSaved">changesSaved</button>
            <button class="btn" data-toggle="modal" data-target="#jobPosted">jobPosted</button>
            <button class="btn" data-toggle="modal" data-target="#delete">delete</button>
            <button class="btn" data-toggle="modal" data-target="#queryPosted">queryPosted</button>
<!-- Modal Starts    -->
            <div class="modal fade" id="signUpSuccessful" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body">
                            <center><h1 class="greenTitle">Sign Up successful!</h1></center>
                        </div>

                    </div>

                </div>
            </div>
<!--            Modal ends-->
<!-- Modal Starts    -->
            <div class="modal fade" id="queryPosted" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body">
                            <center><h1 class="greenTitle">Query posted!</h1></center>
                        </div>

                    </div>

                </div>
            </div>
<!--            Modal ends-->
<!-- Modal Starts    -->
            <div class="modal fade" id="emailPasswordWrong" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body">
                            <center><h1 class="redTitle"><strong>E-mail</strong> or <strong>Password</strong> is incorrect.</h1></center>
                        </div>

                    </div>

                </div>
            </div>
<!--            Modal ends-->
<!-- Modal Starts    -->
            <div class="modal fade" id="projectPosted" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body">
                            <center><h1 class="greenTitle">Project posted!</h1></center>
                        </div>

                    </div>

                </div>
            </div>
<!--            Modal ends-->
<!-- Modal Starts    -->
            <div class="modal fade" id="userExist" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body">
                            <center><h1 class="redTitle">User already exists.</h1></center>
                        </div>

                    </div>

                </div>
            </div>
<!--            Modal ends-->
<!-- Modal Starts    -->
            <div class="modal fade" id="changesSaved" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body">
                            <center><h1 class="greenTitle">Changes saved successfully!</h1></center>
                        </div>

                    </div>

                </div>
            </div>
<!--            Modal ends-->
<!-- Modal Starts    -->
            <div class="modal fade" id="jobPosted" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body">
                            <center><h1 class="greenTitle">Job posted!</h1></center>
                        </div>

                    </div>

                </div>
            </div>
<!--            Modal ends-->
<!-- Modal Starts    -->
            <div class="modal fade" id="delete" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body container-fluid">
                            <form>
                                <div class="row container-fluid">
                                    <center><h2>Are you sure?</h2></center>
                                </div>
                                <div class="row container-fluid">
                                    <div class="col-md-6">
                                        <button class="btn btn-block btn-success fontSize">Delete</button>
                                    </div><div class="col-md-6">
                                        <button class="btn btn-block btn-danger fontSize">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
<!--            Modal ends-->
        </div>
    </body>
</html>